language = "nodejs"
run = "npm start"
entrypoint = "server.js"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-23_11"

[deployment]
run = ["npm", "start"]
